.ztree li a {
    height: 18px;
    cursor: pointer;
    border: solid 0px;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.555);
}
.ztree li{
    margin-top: 5px;
    margin-left: 10px;
}
.ztree li a.curSelectedNode {
    background-color: rgba(235, 164, 44, 0.7);
}
.treed{
    float: left;
    margin-left: 15px;
    margin-top: 25px;
}
.onetree{
    float: left;
    margin-left: 230px;
    margin-top: 25px;
}
.twotree{
    float: left;
    margin-left: 140px;
    margin-top: 25px;
}
.threetree{
    float: left;
    margin-left: 73px;
    margin-top: 25px;
}
#regionZTree{
    height: 490px;
}
#kuang{
    position: fixed;
    top:0px;
    left: 30px;
    width: 940px;
    height: 100%;
    opacity: 0.5;
    border:1px solid lightgray;
    box-shadow:5px 5px 5px rgb(148, 148, 148);
    z-index: -2;
    background:url(wenli.jpg) repeat 100px;
}
#welcome{
    font-family: "Matura MT Script Capitals";
    font-size: 50px;
    margin-top: 100px;
    margin-left: 100px;
    color: rgb(56, 56, 56);
}
#tip{
    margin-top: 50px;
    margin-left: 200px;
    color: rgb(56, 56, 56);
    font-family: "方正舒体";
    font-size: 27px;
}
#texts{
    padding: 20px;
    border-radius: 20px;
    position: fixed;
    width: 210px;
    height: 440px;
    top: 25px;
    right: 30px;
    font-size: 13px;
}
#butt{
    position: fixed;
    width: 240px;
    height: 40px;
    top: 528px;
    right: 35px;
    font-family: "Matura MT Script Capitals";
    font-size: 20px;
}
#prabbit{
    width: 300px;
}
#boy{
    opacity: 0.8;
    width: 280px;
    position: fixed;
    left:745px;
    bottom:-5px; 
    z-index: -1;
}
#fdj{
    opacity: 0.8;
    width: 40px;
    position: fixed;
    right:320px;
    top:15px; 
}
#fdj:hover{
    cursor: pointer;
}
#search{
    position: fixed;
    top:15px;
    right:370px;
    width: 120px;
    height: 66px;
    border-radius: 20px;
    opacity: 0.6;
    background-color: white;
    box-shadow:2px 2px 5px rgb(148, 148, 148);
}
#shuaxin{
    opacity: 0.5;
    width: 28px;
    position: fixed;
    right:50px;
    bottom:115px; 
}
#shuaxin:hover{
    cursor: pointer;
}
#stxt{
    border: none;
    font-size: 15px;
    margin-top: 13px;
    margin-left: 10px;
    width: 90px;
}
#result{
    margin-left: 20px;
    font-weight: 700;
}
#an{
    position: fixed;
    top:60px;
    right:321px;
}
button{
    display: inline-block;
    border:solid 0px;
    outline:none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color:white;
    background-color: rgb(223, 156, 50);
    border-radius: 20px;
    box-shadow:3px 3px 2px rgb(179, 178, 178);
}
button:hover{
    color:rgb(223, 156, 50);
    background-color:white;
}
textarea{
    /* background:transparent; */
    opacity: 0.5;
    border:1px solid lightgray;
    box-shadow:5px 5px 5px rgb(148, 148, 148);
    z-index: -2;
}
body{
    color: #000;
    background-color:rgb(252, 237, 190);
    background-size: 100%;
}